@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

#myBtn {
    display: relative;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 14vw;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: 1s;
}

.show-menu #line1 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line2 {
    box-shadow: 0.1rem 0.1rem 1px black;
    padding: 1px;
}

.show-menu #line3 {
    opacity: 0;
    visibility: hidden;
}

.header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    animation: zoom 5s;
}

@keyframes zoom {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner h1 {
    color: white;
    font-size: 5vw;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    animation: tracking-in-expand-fwd-top 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.banner p {
    font-family: var(--font-secundary);
    color: white;
    font-size: 4vw;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 3rem;
    animation: tracking-in-expand-fwd-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.banner button {
    font-family: var(--font-action);
    color: white;
    font-size: 1vw;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #6a3093;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a044ff, #6a3093);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 10px;
    transition: color 1s;
    animation: tracking-in-expand-fwd-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand-fwd-top {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(-500px);
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

.banner button:hover {
    color: black;
}

.sidebar {
    width: 20vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20vw;
    transition: all 1s;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
}

.menu-link {
    font-family: var(--font-action);
    font-size: 2vw;
    color: #555;
    transition: color 1s;
}

.menu-link:hover {
    color: #6a3093;
}

.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    color: #555;
    height: 2.5rem;
    width: 2.5vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 1s;
}

.social-media i:hover {
    color: #6a3093;
}

.conhecimentos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 10rem);
    column-gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.sessao-conhecimentos {
    width: 100%;
    height: 80%;
    background-color: white;
}

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3vw;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 3rem;
}

.conhecimento {
    background-color: #b7bbbf;
    padding: 1rem;
}

.conhecimento-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.conhecimento-header i {
    font-size: 1rem;
}

.conhecimento-header h3 {
    font-family: var(--font-secundary);
    font-size: 1rem;
    padding-left: 0.3rem;
}

.conhecimento-text {
    font-family: var(--font-secundary);
    align-items: center;
    justify-content: center;
}